#ssc	{font-family: arial, helvetica, sans-serif; text-align:center; }
#ssl	{font-family: arial, helvetica, sans-serif; text-align:left; }
h1	{color:green;}
h2	{}
h3	{}
h4	{}
h5	{}
h6	{}
p	{color:#333333;}
a	{color:yellow;}

